body {
  font-family: sans-serif;
  margin: 0;
}

#toggle-btn {
  padding: 0.5em;
  font-weight: 800;
}

#toggle-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
}

.tabs-title.active {
  background-color: #937341;
  color: #23201d;
}

.dark-mode-toggle {
  background: #000;
  color: #fff;
}

#theme {
  width: 100vw;
  height: 100vh;
}

.dark-mode-theme {
  background: #000;
  color: #fff;
}

ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
