* {
  padding: 0;
  margin: 0 auto;
  font-family: "IBM Plex Mono", monospace;
}

.main-page {
  max-width: 1920px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  width: 200px;
}

.input-wrapper input {
  border-radius: 5px;
  min-width: 120px;
  padding: 10px;
  margin-bottom: 24px;
}

.input-wrapper i {
  position: absolute;
  right: 25px;
  top: 35px;
  height: 20px;
  color: pink;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border-style: groove;
}

#first-hidden {
  display: none;
}

#second-hidden {
  display: none;
}

.icon-container {
  position: relative;
  height: 64px;
  width: 64px;
  padding: 20px;
}

.moon-icon {
  position: absolute;
  cursor: pointer;
  animation: hithere 4s ease infinite;
}

.hide-icon {
  visibility: hidden;
}

@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}
